table{
    border-collapse: collapse;
    background: linear-gradient(to right, blue ,rgb(0, 183, 255), rgb(255, 230, 0) ,white)
}
td,th{
    border: 1px solid red;
    width: 20%;
    text-align: center;
}